<p id="notice"><%= notice %></p>

<h1>Developers</h1>
<br>
<%= form_for @search_form, url: developers_path, method: :get do |f| %>
  Email : <%= f.text_field :email %>
  Language Code : <%= f.text_field :language_code %>
  Programming Languages : <%= f.text_field :prog_lang %>
  <%= f.submit "Search" %>
<% end %>
<br>
<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Languages</th>
      <th>Programming Languages</th>
      <th>Config</th>
    </tr>
  </thead>

  <tbody>
    <% if @developers.present? %>
    <% @developers.each do |developer| %>
      <tr>
        <td><%= developer.email %></td>
        <td>
          <% developer.languages.each do |language_code| %>
            <%= language_code.code %>
          <% end %>
        </td>
        <td>
          <% developer.programming_languages.each do |pro_lang| %>
            <%= pro_lang.name %>
          <% end %>
        </td>
        <td><%= link_to 'Show', developer %>
          <%= link_to 'Edit', edit_developer_path(developer) %>
          <%= link_to 'Destroy', developer, method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
      </tr>
    <% end %>
    <% else %>
      <tr>
        <td>No result</td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Developer', new_developer_path %>
