<p id="notice"><%= notice %></p>

<h1>Fors</h1>

<table>
  <thead>
    <tr>
      <th>Developer</th>
      <th>Null</th>
      <th>Unique</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fors.each do |for| %>
      <tr>
        <td><%= for.Developer %></td>
        <td><%= for.null %></td>
        <td><%= for.unique %></td>
        <td><%= link_to 'Show', for %></td>
        <td><%= link_to 'Edit', edit_for_path(for) %></td>
        <td><%= link_to 'Destroy', for, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New For', new_for_path %>
