<p id="notice"><%= notice %></p>

<p>
  <strong>Developer:</strong>
  <%= @for.Developer %>
</p>

<p>
  <strong>Null:</strong>
  <%= @for.null %>
</p>

<p>
  <strong>Unique:</strong>
  <%= @for.unique %>
</p>

<%= link_to 'Edit', edit_for_path(@for) %> |
<%= link_to 'Back', fors_path %>
